$nav-link-box-shadow:rgba(255,30,30,0.75);
$nav-background-color: red;
$nav-link-button-color: pink;
$nav-link-button-hover-color: blue;

.nav--main{
  font-size: 2em;
  margin-top: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.75em;
  clear: both;
  @include row;
  background-color: $nav-background-color;
}
.nav--ul{
  @include span-columns(6);
  float:right;
  @include omega;
  li{
    display: inline;
  }
}
.nav--link a{
  text-transform: capitalize;
  background-color: $nav-link-button-color;
  margin:0.2em;
  padding:0.12em;
  border-radius: 0.15em;
  box-shadow: 0em 0.2em 0.2em 0.2em $nav-link-box-shadow;

  &:active, &:visited{
    background-color: $nav-link-button-color;
  }

  &:hover{
    background-color: $nav-link-button-hover-color;
  }
}