$nav-link-box-shadow:#505353;
$nav-background-color: #f7f7f7;
$nav-link-button-color: #a6d4ce;
$nav-link-button-hover-color: #2f92a1;
$nav-link-text-color: #333;
$nav-link-text-hover-color: white;

.nav--main{
  font-size: 2em;
  margin-top: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  line-height: 1;
  clear: both;
  @include row;
  background-color: $nav-background-color;
}

.home-button{
  width: 1em;
}

.facebook-button{
  margin-top: 0.2em;
  width: 1em;
}

.social-buttons{
  width: 1em;
}

.nav--left{
  @include media($tablet) { display: block;}
  @include media($single-column) { display: none;}
  font-size: 1.7em;
  margin-top:0.6em;
  @include span-columns(4.5);
  li.nav--link a{
    padding: 0.2em;
    color: lighten($nav-link-text-color, 15%);
    background-color: $nav-background-color;
    &:hover{
      color: $nav-link-button-color;
    }
  }
}

.nav--right{
  @include media($tablet) { display: block;}
  @include media($single-column) { display: none;}
  font-size: 1.7em;
  margin-top:0.6em;
  background-color: $nav-background-color;
  @include span-columns(4.5);
  @include omega;
  li.nav--link a{
    padding: 0.2em;
    color: lighten($nav-link-text-color, 15%);
    background-color: $nav-background-color;
    &:hover{
      color: $nav-link-button-color;
    }
  }
  width: initial;
}

.nav--ul{
  @include span-columns(12);
  @include omega;
  li{
    display: inline;
  }
}

.nav--ul-mobile{
  display: none;
  @include media($tablet) {
    @include span-columns(4);
    @include omega(4n);
    display: none;
  }
  @include media($single-column) {
    display: block;
    @include span-columns(1);
    @include omega(1n);
  }
}

.nav--link a{
  @include media($single-column) {
    @include span-columns(1);
    @include omega(1n);
  }
  margin-right: 0.2em;
  float:right;
  color: $nav-link-text-color;
  text-decoration: none;
  text-transform: capitalize;
  background-color: $nav-link-button-color;
  padding:0.12em;
  border-radius: 0.15em;
  //box-shadow: 0em 0.2em 0.2em 0.2em $nav-link-box-shadow;

  &:active, &:visited{
    color: $nav-link-text-color;
    background-color: $nav-link-button-color;
  }

  &:hover{
    color: $nav-link-text-hover-color;
    background-color: $nav-link-button-hover-color;
  }
}