$sitemap-footer-color: #f7f7f7;
$social-grid-size-container: $grid-columns/3;

.sitemap--main{
  @include outer-container;
  a{
    color: $special-text-color;
    text-decoration: none;
  &:active, &:visited{
    color: $special-text-color;
  }
  &:hover{
    color: #333;
  }
}
  @include row;
  padding: 1em 0 1em;
  background-color: $sitemap-footer-color;
}

.sitemap--links1{
  text-align: left;
  //margin-left: 1.2em;
  @include span-columns($grid-columns/3);
  @include media($single-column){ @include span-columns(1) }
  @include media($single-column) { text-align: center;}
}

.sitemap--links2{
  text-align: center;
  @include span-columns($grid-columns/3);
  @include media($single-column){ @include span-columns(1) }
}

.sitemap--social{
  img{
    max-width: 50%;
  }
  text-align: left;
  @include span-columns($grid-columns/3);
  @include media($single-column){
    @include span-columns(1);
    text-align: center;
    img{
      max-width: 20%;
    }
  }
  @include omega;
}

.sitemap--twitter{
  @include span-columns($social-grid-size-container/3 of $social-grid-size-container);
  @include media($single-column){ @include span-columns(1) }
}
.sitemap--linkedin{
  @include span-columns($social-grid-size-container/3 of $social-grid-size-container);
  @include media($single-column){ @include span-columns(1) }
}
.sitemap--facebook{
  @include span-columns($social-grid-size-container/3 of $social-grid-size-container);
  float: right;
  @include media($single-column){ @include span-columns(1) }
}
