@font-face {
  font-family: 'beast_of_avalonregular';
  src: url('./beast_of_avalon/beast_of_avalon-webfont.eot');
  src: url('./beast_of_avalon/beast_of_avalon-webfont.eot?#iefix') format('embedded-opentype'),
       url('./beast_of_avalon/beast_of_avalon-webfont.woff2') format('woff2'),
       url('./beast_of_avalon/beast_of_avalon-webfont.woff') format('woff'),
       url('./beast_of_avalon/beast_of_avalon-webfont.ttf') format('truetype'),
       url('./beast_of_avalon/beast_of_avalon-webfont.svg#beast_of_avalonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}