$logo_font_size: 5em;
$logo-background-color: white;
$logo-link-text-color: black;
$logo-link-text-hover-color: #a6d4ce;
$special-text-color: #a6d4ce;

@import "normalize";
@import "reset";
@import "bourbon";
@import "fonts";
@import "nivo";
@import "nav";
@import "pricing";
@import "sitemap";

div, nav, section{
  border-radius: 0.1em;
}

body{
  @include outer-container;
}

.logo{
  font-size: $logo_font_size;
  @include row;
}

.logo a{
  color: $logo-link-text-color;
  text-decoration: none;

  &:active, &:visited{
    color: $logo-link-text-color;
  }

  &:hover{
    color: $logo-link-text-color;
  }
}

.headline{
  font-family: beast_of_avalonregular;
  font-size: 1em;
  @include span-columns(12);
  text-align: left;
  padding-top: 0.4em;
  padding-left: 0.2em;
}
.tagline{
  font-family: sans-serif;
  font-size: (2em/5);
  padding-right: 0.2em;
  text-align: right;
  width: 410.272px;
  @include media($single-column) {
    text-align: left;
    width: 100%;
  }
  @include omega;
}

body {
  background-color: rgb(247, 247, 247);
  /*background: #d4d4d4 url("../images/background.png");*/
  font-family: sans-serif;
}

.contact{
  text-align: center;
  @include media($single-column) {
    text-align: initial;
  }
}

p.contactLink{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
}
