.sitemap--main
  %section.sitemap--links1
    &copy; Savvy Shots Photography,
    %br
    All Rights Reserved
    %br
    %a{href: 'https://github.com/ninjapanzer/savvyshots', target: '_blank'} Site Source
  %section.sitemap--links2
    %a{:href => "mailto:Savannah@savvyshots.photography ", :target => "_top"} savvyshotsphotos@gmail.com <br>
    %a{href: "contact.html"} Contact Via Web <br>
    %a{href: "tel:+14125326899"} 412-532-6899

  .sitemap--social
    //.title social
    //.sitemap--twitter twitter
    //.sitemap--linkedin linkedin
    //.sitemap--facebook facebook