.sitemap--main
  %section.sitemap--links1 &copy; Savvy Shots Photography, <br> All Rights Reserved
  %section.sitemap--links2 
    %a{:href => "mailto:savvyshotsphotos@gmail.com", :target => "_top"} Email Me <br>
    savvyshotsphotos@gmail.com
  .sitemap--social
    //.title social
    //.sitemap--twitter twitter
    //.sitemap--linkedin linkedin
    //.sitemap--facebook facebook