.sitemap--main
  %hr
  %section.sitemap--links1
    &copy; Savvy Shots Photography,
    %br
    All Rights Reserved
    %br
    %a{href: 'https://github.com/ninjapanzer/savvyshots', target: '_blank'} Site Source
  %section.sitemap--links2
    %a{:href => "mailto:Savannah@savvyshots.photography ", :target => "_top"} Savannah@savvyshots.photography <br>
    %a{href: "contact.html"} Contact Via Web <br>
    %a{href: "tel:+14125326899"} 412-532-6899

  .sitemap--social
    //.title social
    %a.sitemap--facebook{href:'https://www.facebook.com/savvyshotsphotography', target:'_blank'}
      = image_tag('F_icon_savvy.svg', {class:'fbook'})
    %a.sitemap--instagram{href:'https://www.facebook.com/savvyshotsphotography', target:'_blank'}
      = image_tag('I_icon_savvy.png', {class:'instagram'})
    //.sitemap--linkedin linkedin
