- home = current_page.path != 'index.html'
%ul.nav--ul-mobile
  - if home
    %li.nav--link.square
      %a{href:'index.html'} home
  %li.nav--link.square
    %a{href:'portfolio.html'} Portfolio
  %li.nav--link.square
    %a{href:'http://savvyshotsphotography.shootproof.com'} Proofing
  %li.nav--link.square
    %a{href:'https://my.setmore.com/bookingpage/043bcabd-ebdb-43ca-9e11-d09fca1faf29/resourcebookingpage/r8d6e7f03b35406fcf529652aed0ae27266654646'} Book Now!
  %li.nav--link.square
    %a{href:'about.html'} About
  %li.nav--link.square
    %a{href:'pricing.html'} Pricing
  %li.nav--link.square
    %a{href:'contact.html'} Contact
