%ul.nav--ul
  %li.nav--link
    %a{href:'contact.html'} Contact
  %li.nav--link
    %a{href:'pricing.html'} Pricing
  //%li.nav--link
  //  %a{href:'about.html'} About
  %li.nav--link
    %a{href:'portfolio.html'} Portfolio
%ul.nav--ul-mobile
  %li.nav--link
    %a{href:'portfolio.html'} Portfolio
  //%li.nav--link
  //  %a{href:'about.html'} About
  %li.nav--link
    %a{href:'pricing.html'} Pricing
  %li.nav--link
    %a{href:'contact.html'} Contact