- home = current_page.path != 'index.html'
%ul.nav--ul-mobile
  - if home
    %li.nav--link
      %a{href:'index.html'} home
  %li.nav--link
    %a{href:'portfolio.html'} Portfolio
  %li.nav--link
    %a{href:'http://savvyshotsphotography.shootproof.com'} Proofing
  %li.nav--link
    %a{href:'about.html'} About
  %li.nav--link
    %a{href:'pricing.html'} Pricing
  %li.nav--link
    %a{href:'contact.html'} Contact