---
title: Home
---
.slider-wrapper.theme-nivodefault
  #slider.nivoSlider
    %img{alt: "Kelsar Wedding Party",
      data:{thumb:"images/web/web_KeslarWedding-384.jpg"},
      src: "images/web/web_KeslarWedding-384.jpg",
      title: "The Keslars (Tiffany and J.C.) got married at a beautiful time of year. Their maid of honor and best man are by their sides."}
    %img{alt: "Steve and Nancy",
      data:{thumb: "images/web/web_Engagement42.jpg"},
      src: "images/web/web_Engagement42.jpg",
      title: "She said yes!"}
    %img{alt: "Steve and Nancy engagement photo",
      data:{thumb: "images/web/web_Engagement147.jpg"},
      src: "images/web/web_Engagement147.jpg",
      title: "Steve and Nancy finished celebrating their engagement at The Fairmont"}
    %img{alt: "Lindee Hop",
      data:{thumb: "images/web/web_Dance147.jpg"},
      src: "images/web/web_Dance147.jpg",
      title: "Grand finale dip at the Lindy Hop"}
    %img{alt: "Turkey Tournmament",
      data:{thumb: "images/web/web_Fencing70.jpg"},
      src: "images/web/web_Fencing70.jpg",
      title: "This leap gave him the winning touch!"}
.reviews--main
  %hr
  %h1
    %strong Reviews
  .reviews--column
    %p
      Used Savvy Shots to come to my home and take pictures of my cats. Savannah has an amazing talent! She is professional, patient and easy to work with! I love all the pictures she took, I highly recommend her for any of your photographic needs! Thanks again Savannah! &#9733;&#9733;&#9733;&#9733;&#9733; -
      %a{href:'https://www.facebook.com/angie.bryan.73'} Angie Bryan
  .reviews--column
    %p
      Savannah does great photos for the Humane Society of Westmoreland County! We love her pet photos and she does great photos of people too! &#9733;&#9733;&#9733;&#9733;&#9733; -
      %a{href: 'https://www.facebook.com/jzerebnick'} Jessica Zerebnick
  .reviews--column
    %p
