---
title: Savvy Shots
---
.slider-wrapper.theme-nivodefault
  #slider.nivoSlider
    %img{:alt => "Kelsar Wedding Party", "data-thumb" => "images/KeslarWedding-384.jpg", :src => "images/KeslarWedding-384.jpg", :title => "The Keslars (Tiffany and J.C.) got married at a beautiful time of year. Their maid of honor and best man are by their sides. "}
    %img{:alt => "Steve and Nancy", "data-thumb" => "images/Engagement42.jpg", :src => "images/Engagement42.jpg", :title => "She said yes!"}
    %img{:alt => "Steve and Nancy engagement photo", "data-thumb" => "images/Engagement147.jpg", :src => "images/Engagement147.jpg", :title => "Steve and Nacy finished celebrating their engagement at The Fairmont"}
    %img{:alt => "Lindee Hop", "data-thumb" => "images/Dance147.jpg", :src => "images/Dance147.jpg", :title => "Grand finale dip at the Lindee Hop"}
    %img{:alt => "Turkey Tournmament", "data-thumb" => "images/Fencing70.jpg", :src => "images/Fencing70.jpg", :title => "This leap gave him the winning touch!"}
