---
title: Portfolio
---

- content_for :javascripts do
  = javascript_include_tag  "galleria.portfolio"

.galleria
  = 50.times.each do
    %img{src:"http://lorempixel.com/#{800 + (100 * (Random.rand(5) + 1))}/#{400 + (100 * (Random.rand(5) + 1))}/"}



