:javascript
  var _spRemote = {
      width: 960,
      height: 900
  };
  var _ce = parseInt(Math.random() * 99999999);
  document.write('<sc' + 'ript type="text/javascript" src="//savvyshotsphotography.shootproof.com/remote/embed?ce=' + _ce + '"></sc' + 'ript>');
