.pricing
  .packages
    .package
      .packageTitle Beautiful on a Budget ~ $500
      %ul
        %li Ceremony (up to 2 hours)
        %li
          Plus your choice of one of the following
          %ul
            %li 1 Hour of wedding preparation
            %li 1 Hour of dinner/reception coverage after the wedding
        %li Online web gallery to view and order photos

    .package
      .packageTitle Courtship Package ~ $1200
      %ul
        %li 6 hours
        %li DVD with 100 professionally enhanced photos
        %li Online web gallery to view and order photos

    .package
      .packageTitle Romance Package ~ $1800
      %ul
        %li 8 hours
        %li USB drive with 250 professionally enhanced photos
        %li Online web gallery to view and order photos

    .package
      .packageTitle Intimate Package ~ $3500
      %ul
        %li All day coverage (up to 12 hours)
        %li USB drive with 500 professionally enhanced photos
        %li Online web gallery to view and order photos
        %li Engagement session with professionally enhanced photos

    .package.extras
      .packageTitle Extras
      %ul
        %li Additonal Hour: $200 per hour
        %li Professional Photo Enhancement: $200 per 100 photos
        %li USB Drive: $50
        %li Engagement session with Photo Enhancement: $500

//  .descriptions
//    .description
//      .descriptionTitle Guidelines

