.packageTitle
  On a Budget - $500
.package
  %ul
    %li Ceremony Coverage (up to 2 hours)
    %li Your choice of
    %li 1 Hour of getting ready coverage before the wedding
    %li.or Or
    %li 1 Hour of dinner/reception coverage after the wedding
    %li Online web gallery to view and order photos
.packageTitle
  Package A - $1200
.package
  %ul
    %li 6 hours of coverage
    %li A DVD with 100 edited high-resolution images
    %li Online web gallery to view and order photos
.packageTitle
  Package B - $1800
.package
  %ul
    %li 8 hours of coverage
    %li A USB drive with 250 edited high-resolution images
    %li Online web gallery to view and order photos
.packageTitle
  Package C - $3500
.package
  %ul
    %li All day coverage (up to 12 hours)
    %li A USB drive with 500 edited high-resolution images
    %li Online web gallery to view and order photos
    %li Engagement session with edited photos
.packageTitle
  A la carte pricing:
.package
  %ul
    %li Additonal Hours: $200
    %li 100 edited photos: $200
    %li USB Drive: $50
    %li Engagement session with edited high-resolution images: $500
%p.contactLink
  If you have any questions, please 
  %a{href:'contact.html'} Contact me.
